* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;

  font-size: 16px;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container div.toggle {
  width: 14.71125rem;
  height: 6.375rem;
  border-radius: 3.6875rem;

  padding: 0 0.4rem;

  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  line-height: 0;

  position: relative;
}

.container div.toggle img {
  width: 5.394375rem;
  height: 5.394375rem;
}

.container div.toggle button.ball {
  width: 5.394375rem;
  height: 5.394375rem;
  border: 0;
  border-radius: 3.6875rem;

  background-color: #f1f1f1;
  position: absolute;
  top: 0.4375rem;
  right: 0.4375rem;
}

.container div.toggle button.light {
  position: absolute;
  top: 0.4375rem;
  left: 0.4375rem;
}
